In [50]:
import pandas as pd
import math
from sklearn.linear_model import LinearRegression

In [4]:
train=pd.read_csv('kc_house_train_data.csv',dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

In [6]:
test=pd.read_csv('kc_house_test_data.csv',dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

In [7]:
train['bed_sqr']=train['bedrooms']**2

In [9]:
test['bed_sqr']=test['bedrooms']**2

In [10]:
train['bed_bath']=train['bedrooms']*train['bathrooms']
test['bed_bath']=test['bedrooms']*test['bathrooms']

In [17]:
train['log_sqft']=list(map(lambda x: math.log(x),train['sqft_living']))
test['log_sqft']=list(map(lambda x: math.log(x),test['sqft_living']))
train['lat_long_sum']=train['lat']+train['long']
test['lat_long_sum']=test['lat']+test['long']

In [18]:
train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bed_sqr,bed_bath,log_sqft,lat_long_sum
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,0,98178,47.5112,-122.257,1340.0,5650.0,9.0,3.00,7.073270,-74.7458
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,1991,98125,47.7210,-122.319,1690.0,7639.0,9.0,6.75,7.851661,-74.5980
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,0,98028,47.7379,-122.233,2720.0,8062.0,4.0,2.00,6.646391,-74.4951
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,0,98136,47.5208,-122.393,1360.0,5000.0,16.0,12.00,7.580700,-74.8722
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,0,98074,47.6168,-122.045,1800.0,7503.0,9.0,6.00,7.426549,-74.4282

In [28]:
print('bedrooms^2='+str(test['bed_sqr'].mean())+', bed_bath='+str(test['bed_bath'].mean())+', log='+str(test['log_sqft'].mean())+', lat+long='+str(test['lat_long_sum'].mean()))

bedrooms^2=12.4466777015843, bed_bath=7.5039016315913925, log=7.550274679645921, lat+long=-74.65333355403185

In [131]:
y_train=train[['price']]
x_model1=train[['sqft_living']+['bedrooms']+['lat']+['long']+['bathrooms']]
x_model2=train[['sqft_living']+['bedrooms']+['lat']+['long']+['bed_bath']+['bathrooms']]
x_model3=train[['sqft_living']+['bedrooms']+['lat']+['long']+['bed_bath']+['bed_sqr']+['log_sqft']+['lat_long_sum']+['bathrooms']]
list(x_model1)

['sqft_living', 'bedrooms', 'lat', 'long', 'bathrooms']

In [132]:
model_1=LinearRegression()
model_2=LinearRegression()
model_3=LinearRegression()
model_1.fit(x_model1,y_train)
model_2.fit(x_model2,y_train)
model_3.fit(x_model3,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [133]:
def get_coef(x,coef):
    for i in range(len(x)):
        print (x[i],coef[0][i])
get_coef(list(x_model1),model_1.coef_)
print ('--------------')
get_coef(list(x_model2),model_2.coef_)
print ('--------------')
get_coef(list(x_model3),model_3.coef_)

sqft_living 312.258646273
bedrooms -59586.5331536
lat 658619.263931
long -309374.351268
bathrooms 15706.7420827
--------------
sqft_living 306.610053459
bedrooms -113446.36807
lat 654844.629503
long -294298.969138
bed_bath 25579.6520008
bathrooms -71461.3082928
--------------
sqft_living 529.422819647
bedrooms 34514.229578
lat 534085.610867
long -406750.710861
bed_bath -8570.50439463
bed_sqr -6788.58667034
log_sqft -561831.484076
lat_long_sum 127334.900006
bathrooms 67060.7813189

In [140]:
RSS_train1=((model_1.predict(x_model1.values)-y_train)**2).sum()
RSS_train2=((model_2.predict(x_model2.values)-y_train)**2).sum()
RSS_train3=((model_3.predict(x_model3.values)-y_train)**2).sum()
print (RSS_train1,RSS_train2,RSS_train3)

price    9.678800e+14
dtype: float64 price    9.584196e+14
dtype: float64 price    9.034365e+14
dtype: float64

In [141]:
y_test=test[['price']]
x_tm1=test[['sqft_living']+['bedrooms']+['lat']+['long']+['bathrooms']]
x_tm2=test[['sqft_living']+['bedrooms']+['lat']+['long']+['bed_bath']+['bathrooms']]
x_tm3=test[['sqft_living']+['bedrooms']+['lat']+['long']+['bed_bath']+['bed_sqr']+['log_sqft']+['lat_long_sum']+['bathrooms']]

In [139]:
RSS_test1=((model_1.predict(x_tm1.values)-y_test)**2).sum()
RSS_test2=((model_2.predict(x_tm2.values)-y_test)**2).sum()
RSS_test3=((model_3.predict(x_tm3.values)-y_test)**2).sum()
print (RSS_test1,RSS_test2,RSS_test3)

price    2.255005e+14
dtype: float64 price    2.233775e+14
dtype: float64 price    2.592363e+14
dtype: float64

In [149]:
print(type(train[['bedrooms']]))
train[['bedrooms']].head()

<class 'pandas.core.frame.DataFrame'>

   bedrooms
0       3.0
1       3.0
2       2.0
3       4.0
4       3.0

In [148]:
print(type(train['bedrooms']))
train['bedrooms'].head()

<class 'pandas.core.series.Series'>

0    3.0
1    3.0
2    2.0
3    4.0
4    3.0
Name: bedrooms, dtype: float64